body {
  background: url("http://www.x360ce.com/Images/Background.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
}

h1 {
  padding-top: 3cm;
  color: white;
  font-size: 500%;
}

p {
  padding-top: 2cm;
  color: white;
  font-size: 200%;
}
